<ion-content [fullscreen]="true">
  <ion-text class="ion-text-center">
    <h1>CURRENCY CONVERTER</h1>
  </ion-text>
  <ion-grid>
    <ion-row class="conversion">
      <ion-col size-sm="2">Source</ion-col>
      <ion-col size-sm="2">Target</ion-col>
      <ion-col size-sm="2">Value</ion-col>
      <ion-col size-sm="2"></ion-col>
    </ion-row>
    <ion-row class="conversion">
      <ion-col size-sm="2">
        <ion-select [formControl]="convert.controls.source" aria-label="Currency" value="USD">
        <ion-select-option value="USD">USD</ion-select-option>
        <ion-select-option value="EUR">EUR</ion-select-option>
        <ion-select-option value="GBP">GBP</ion-select-option>
          <ion-select-option value="JPY">JPY</ion-select-option>
          <ion-select-option value="AUD">AUD</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size-sm="2">
        <ion-select [formControl]="convert.controls.target" aria-label="Currency" value="USD">
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="EUR">EUR</ion-select-option>
          <ion-select-option value="GBP">GBP</ion-select-option>
          <ion-select-option value="JPY">JPY</ion-select-option>
          <ion-select-option value="AUD">AUD</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size-sm="2">
        <ion-item>
          <ion-input [formControl]="convert.controls.value" aria-label="Number" type="number" value="000" fill="outline"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-sm="2">
        <ion-button [disabled]="convert.invalid" (click)="convertSubmit()">Convert</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text class="ion-text-center">
    <h2>Result of conversion</h2>
  </ion-text>
  <br>
  <ion-text class="ion-text-center">
    <h2>History</h2>
  </ion-text>
  <ion-grid>
    <ion-row class="conversion">
      <ion-col size-sm="2" class="history">Date</ion-col>
      <ion-col size-sm="2" class="history">Source</ion-col>
      <ion-col size-sm="2" class="history">Target</ion-col>
      <ion-col size-sm="2" class="history">Value</ion-col>
      <ion-col size-sm="2" class="history">Result</ion-col>
    </ion-row>
    <ion-row class="conversion">
      <ion-col size-sm="2" class="history">Date</ion-col>
      <ion-col size-sm="2" class="history">Source</ion-col>
      <ion-col size-sm="2" class="history">Target</ion-col>
      <ion-col size-sm="2" class="history">Value</ion-col>
      <ion-col size-sm="2" class="history">Result</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
